.add-trainer-form-container {
  margin-top: auto;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 25px 60px;
  border-radius: 10px;
  background-position: center;
  color: black;
}

.add-trainer-form-div {
  margin-top: 50px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #D9D9D9;
}

.add-trainer-form-div .form-container .form-col1 .profile-cards {
  padding: 20px;
  margin: 10px 5px;
  width: 180px;
  height: 130px;
}

.add-trainer-form-subHeading {
  margin-top: 40px;
  font-weight: 520;
  font-size: 20px;
  color: #1F0106;
}

.add-trainer-form-inputs {
  text-align: left;
  font-weight: 100px;
}

.add-tariner-userID {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  /* justify-content: flex-start; */
}

.add-trainer-form-button {
  background: #FF2121;
  border-radius: 15px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 25px 7px 25px;
}

.add-trainer-hr {
  margin: 6px 0px;
}