
.btn{
    background-color: #32E04E;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #36c74e;
  }
