.Heading {
    grid-area: header;
}

.profile {
    grid-area: profile;
}

.Headr {
    margin-bottom: 30px;
    padding-left: 20px;
}

.Head {
    display: grid;
    grid-template-areas:
        'header header header header header header header header header header header header header header header header header profile';
}

.Heading {

    padding-right: 20px;
}

.profile {
    width: 250px;
    background-color: white;
    border-radius: 25px;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.profileDetails {
    padding: 5px;
    text-align: left;

}

#name {
    font-size: 15px;
    font-weight: bold;
}

#level {
    font-size: 12px;
    font-weight: 500;

}

#heading {
    font-weight: 600 !important;
    font-size: 2rem !important;
    text-align: left;
}